<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2c9e6838ea.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/detalhesVaga.css" />

    <title>Det da vaga User</title>
  </head>
  <body>
    <nav class="sidebar">
      <img id="logo_sidebar" src="../imgs/logo_icon.jpg" alt="logo_icon" />
      <a href="#"><i class="fa-solid fa-user fa-xl"></i></a> <br />
      <a href="#"><i class="fa-solid fa-square-plus fa-xl"></i></a> <br />
      <a href="#"><i class="fa-solid fa-list fa-xl"></i></a> <br />
      <a href="#"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a>
      <br />
    </nav>

    <div class="main">
      <div class="title underline">Detalhes da vaga</div> 

      <div class="content">
        <div id="close"><i class="fa-solid fa-circle-xmark fa-2xl"></i></div>
        <div class="header-content">
          <div class="title" id="nome-vaga">Analista de TI - Home office</div>
            <div class="subtitle">em <span id="empresa">Recrutech</span></div>
          <div class="subtitle">
            Teste
            <span id="teste-bool">
              <i class="fa-solid fa-circle-xmark"></i>
              <i class="fa-solid fa-circle-check"></i>
            </span>
          </div>
          
        </div>

        <div id="descricao">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
          </p>
       
        </div>

        <div class="footer-content">
          <span id="num_candidatos">47</span>
          <i class="fa-regular fa-user icon"></i>
            <div class="button_container">
              <button class="button" id="btn-inscricao">QUERO ME INSCREVER</button>
            </div>
        </div>
      </div>
    </div>

  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script> <!-- faz requisicao do front pro back-->
  <script src="../scripts/detalheVagasRH.js"></script>
  </body>

  <script src="../scripts/detalheVagasUsuario.js"></script>
</html>
