
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2c9e6838ea.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/DetalheDaVagaUsuario.css" />

    <title>Detalhes da vaga RH</title>
  </head>
  <body>
    <nav class="sidebar">
      <img id="logo_sidebar" src="../imgs/logo_icon.jpg" alt="logo_icon" />
      <a href="#"><i class="fa-solid fa-user fa-xl"></i></a> <br />
      <a href="#"><i class="fa-solid fa-square-plus fa-xl"></i></a> <br />
      <a href="#"><i class="fa-solid fa-list fa-xl"></i></a> <br />
      <a href="#"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a>
      <br />
    </nav>

    <div class="main">
      <div class="title underline">Detalhes da vaga</div>

      <div class="content">
        <div id="close"><i class="fa-solid fa-circle-xmark fa-2xl"></i></div>
        <div class="header-content">
          <div class="title" id="nome-vaga">Analista de TI - Home office</div>
          <!-- {Nome Vaga} - {Local de Trabalho} -->

          <div class="subtitle">em <span id="empresa">Recrutech</span></div>
          <!-- {Nome Empresa} -->

          <div class="subtitle">
            Teste
            <span id="teste-bool">
              <i class="fa-solid fa-circle-xmark"></i>
              <i class="fa-solid fa-circle-check"></i>
            </span>
          </div>
          <!-- {Nome Empresa} -->
        </div>

        <div id="descricao">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            deserunt expedita officiis quibusdam quisquam eius explicabo
            accusamus ex consequuntur nisi veniam repudiandae, nam dolore ipsum
            ipsam libero blanditiis nostrum. Itaque dignissimos, iure adipisci
            laudantium quasi deleniti voluptates! A numquam aut minima quis nam,
            voluptas perferendis officia impedit nesciunt? Assumenda numquam
            possimus modi voluptatem cumque nostrum debitis impedit recusandae
            ratione reprehenderit laudantium nihil aliquid pariatur cum
            doloremque adipisci unde, odit, laboriosam rem quidem est amet.
            Voluptates quisquam praesentium illo quis blanditiis adipisci sint,
            tenetur repellendus laboriosam neque quia molestiae alias minima
            corrupti harum doloribus nostrum magnam soluta modi repellat ducimus
            perspiciatis incidunt temporibus. Atque animi et autem hic
            dignissimos suscipit assumenda, recusandae in praesentium inventore
            impedit ipsam velit quia ut explicabo est sint aspernatur.
          </p>
          <!-- {Descrição Vaga} -->
        </div>

        <div class="footer-content">
          <span id="num_candidatos">47</span>
          <i class="fa-regular fa-user icon"></i>

          <a href="./ListaCurriculosVagas.html"> 
            <div class="button_container">
              <button class="button">SELECIONAR CURRÍCULOS</button>
            </div>
          </a>

        </div>
      </div>
    </div>
  </body>
</html>
