<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2c9e6838ea.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/indicadores.css" />

    <title>Indicadores</title>
  </head>
  <body>
    <nav class="sidebar"></nav>

    <div class="main">
      <div class="title" id="main_title">Indicadores</div>

      <div class="titulos-coluna">
        <div class="coluna">Indicador</div>
      </div>

      <div class="candidato">
        <div id="nome-candidato">Taxa de usuários novos (mensais)</div>
        <p class="indicador-num" id="novosUsuarios"></p>
      </div>
      <div id="line"></div>

      <div class="candidato">
        <div id="nome-candidato">
          Taxa de crescimento de vagas criadas (mensais)
        </div>
        <p class="indicador-num" id = "vagasMensais"></p>
      </div>
      <div id="line"></div>

      <div class="candidato">
        <div id="nome-candidato">
          Taxa de vagas canceladas em relação às criadas (mensais)
        </div>
        <p class="indicador-num" id="vagasCanceladas">xx</p>
      </div>
      <div id="line"></div>

      <div class="candidato">
        <div id="nome-candidato">
          Índice de Contratação em relação aos candidatos do site
        </div>
        <p class="indicador-num" id="contratacao">xx</p>
      </div>
      <div id="line"></div>

      <div class="candidato">
        <div id="nome-candidato">Taxa de Aprovados nos testes</div>
        <p class="indicador-num" id="aprovadosTeste">xx</p>
      </div>
      <div id="line"></div>
    </div>
    <script src="../scripts/sidebar.js"></script>
    <script src="../scripts/indicadores.js"></script>
    <script type="text/javascript">
      getVagas();
    </script>
  </body>
</html>
