<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2c9e6838ea.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/listaEntrevistas.css" />

    <title>Resultado da Entrevista</title>
  </head>
  <body>
    <nav class="sidebar"></nav>

    <div class="main">
      <div class="title" id="main_title">Nome da vaga</div>

      <div class="titulos-coluna">
        <div class="coluna">Candidato</div>
        <div class="coluna">Dados Entrevista</div>
        <div class="coluna" id="botoes" style="visibility: hidden">
          <div id="botoes">
            <div class="button_container">
              <button class="button">
                <span id="button_text"><i class="fa-solid fa-check"></i></span>
              </button>
              <button class="button">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="new-candidato">
        <div class="candidato">
          <div class="candidato-info">
            <div id="nome-candidato">Bárbara Mattioly</div>
            <div id="link-entrevista">
              <input type="text" id="link-entrevista" name="name" placeholder="Link da Entrevista" required>
              <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
              <input type="date" id="start" name="trip-start" value="2022-12-13">
              <div class="button_container">
                <button class="button" id="enviar-teste" type="button">ENVIAR</button>
              </div>
            </div>

            <div id="botoes">
              <div class="button_container">
                <button class="button" id="check">
                  <span id="button_text"
                    ><i class="fa-solid fa-check"></i
                  ></span>
                </button>
                <button class="button" id="xmark">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="line"></div>
      </div>

      <div class="new-candidato">
        <div class="candidato">
          <div class="candidato-info">
            <div id="nome-candidato">Bruno Duarte</div>

            <div id="botoes">
              <div class="button_container">
                <button class="button" id="check">
                  <span id="button_text"
                    ><i class="fa-solid fa-check"></i
                  ></span>
                </button>
                <button class="button" id="xmark">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="line"></div>
      </div>

      <div class="new-candidato">
        <div class="candidato">
          <div class="candidato-info">
            <div id="nome-candidato">Bruna Bernardes</div>

            <div id="botoes">
              <div class="button_container">
                <button class="button" id="check">
                  <span id="button_text"
                    ><i class="fa-solid fa-check"></i
                  ></span>
                </button>
                <button class="button" id="xmark">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="line"></div>
      </div>
    </div>
    <script src="../scripts/sidebar.js"></script>
  </body>
</html>
