<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2c9e6838ea.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/listaCurriculosVaga.css" />

    <title>Lista de vagas</title>
  </head>

  <body>
    <nav class="sidebar"></nav>

    <div class="main">
      <div class="title" id="main_title"></div>
      <div class="filtrar-curriculo">
        <input
          type="checkbox"
          id="filtrar-curriculos"
          name="filtrar-curriculos"
        />
        <label for="filtrar-curriculos">Filtrar Currículos</label>
      </div>
      <div class="titulos-coluna">
        <div class="coluna">Candidato</div>
        <div class="coluna">Currículo</div>
      </div>

      <div id="containerDados"></div>
    </div>

    <script src="../scripts/sidebar.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="../scripts/listarCurriculosVaga.js"></script>
  </body>
</html>
