<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2c9e6838ea.js"
      crossorigin="anonymous"
    ></script>

     <!-- jQuery -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>


    <link rel="stylesheet" href="/styles/listaDeVagasRH.css" />

    <title>Lista de vagas</title>
  </head>
  <body>
    <nav class="sidebar">
      <img id="logo_sidebar" src="../imgs/logo_icon.jpg" alt="logo_icon" />

      <a href="#"><i class="nav-item fa-solid fa-user fa-xl"></i></a> <br />
      <a href="#"><i class="nav-item fa-solid fa-square-plus fa-xl"></i></a>
      <br />
      <a href="#"><i class="nav-item fa-solid fa-list fa-xl"></i></a> <br />

      <a href="#"
        ><i class="nav-item fa-solid fa-right-from-bracket fa-xl"></i
      ></a>
    </nav>

    <div class="main">
      <div class="title" id="main_title">Lista de vagas</div>

      <div class="titulos-coluna">
        <div class="coluna">Vaga</div>
        <div class="coluna">Modalidade/Local</div>
        <div class="coluna">Status</div>
        <div class="coluna" id="botoes" style="visibility: hidden">
          <div class="button_container">
            <button class="button" id="button-trash">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>

          <div class="button_container">
            <button class="button"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </div>

      <div class="new-vaga">
        <div class="vaga">
          <div class="vaga-info">
            <div id="nome-vaga">Vaga para dev C# Sênior</div>
            <div id="local-vaga">BH</div>
            <div id="status-vaga">Aberta</div>

            <div id="botoes">
              <div class="button_container">
                <button class="button" id="button-trash">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>

              <div class="button_container">
                <button class="button"><i class="fa-solid fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div id="line"></div>
      </div>
    
    </div>
    <script src="../scripts/listaDeVagasRH.js"></script>
    <script type="text/javascript">
      getItems();
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  </body>
</html>
