<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/2c9e6838ea.js" crossorigin="anonymous"></script>
 
  <link rel="stylesheet" href="../styles/sidebar.css" />
  <link rel="stylesheet" href="../styles/ListaDeVagasUsuario.css" />

  <title>Lista de vagas User</title>
</head>

<body>
  <nav class="sidebar"></nav>

  <div class="main">
    <div class="title" id="main_title">Lista de vagas</div>

    <div class="titulos-coluna">
      <div class="coluna">Vaga</div>
      <div class="coluna">Modalidade/Local</div>
      <div class="coluna" id="botoes" style="visibility: hidden"> </div>
      
    </div>
    <div id="container_vagas"></div>

    <script src="../scripts/sidebar.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="../scripts/listaDeVagasUser.js"></script>
    <script type="text/javascript">
      getItems();
    </script>
</body>

</html>