<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2c9e6838ea.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/uploadCurriculo.css" />

    <title>Envio de currículo</title>
  </head>

  <body>
    <nav class="sidebar">
      <img id="logo_sidebar" src="../imgs/logo_icon.jpg" alt="logo_icon" />

      <a href="#"><i class="nav-item fa-solid fa-user fa-xl"></i></a> <br />
      <a href="#"><i class="nav-item fa-solid fa-square-plus fa-xl"></i></a>
      <br />
      <a href="#"><i class="nav-item fa-solid fa-list fa-xl"></i></a> <br />

      <a href="#"
        ><i class="nav-item fa-solid fa-right-from-bracket fa-xl"></i
      ></a>
    </nav>

    <div class="main">
      <div class="title" id="main_title">Envio de currículo</div>

      <div class="content">
        <div class="content-info">
          <div>Currículo (PDF)*</div>
          <div class="file_container">
            <div class="retangulo">
              <input type="file" id="input_file" />
            </div>
            <i class="fa-solid fa-file" id="icon_file"></i>
          </div>
        </div>

        <div class="content-exp">
          <div>Tempo de Experiência na área (em anos)</div>
          <input class="typing" type="number" id="experiencia" required />
        </div>
      </div>

      <div id="line"></div>
      <div class="bottom_page">
        <button class="button">ENVIAR</button>
      </div>
    </div>
  </body>
</html>
