body {
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
  color: #393e46;
}

.main {
  margin-top: 70px;
  margin-left: 140px;
  padding: 0px 10px;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 50px;
  margin-left: 3rem;
}

#main_title {
  text-decoration: underline;
  margin-bottom: 4rem;
}

.button_container {
  width: 85%;
  text-align: right;
  margin-top: 1em;
}

.button {
  font-size: 1.5rem;
  font-weight: 700;
  width: 13rem;
  height: 3rem;
  border-radius: 15px;
  outline: none;
  border: none;
  transition-duration: 0.4s;
  background-color: #f8b500;
}

#visualizar:hover {
  cursor: pointer;
  background-color: rgb(255, 225, 143);
}

.section-info {
  margin-left: 3em;
}

#lista > li {
  margin-bottom: 0.2rem;
  width: 85%;
}

.file_container {
  display: flex;
}

#input_file {
  font-size: 1.5rem;
}

.retangulo {
  border-radius: 7px;
  padding-right: 0.5rem;
  background-color: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex,
#lista > li {
  display: flex;
  justify-content: space-between;
}

#visualizar-curriculo {
  margin-bottom: 0.2rem;
  margin-top: 1.5rem;
  margin-left: 1.9rem;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.fa-circle {
  color: #f8b500;
}

#line {
  border-top: 1px solid #393e46;
  margin-left: 6rem;
  margin-top: 2rem;
}

.section {
  margin-top: 1em;
  margin-bottom: 7rem;
  font-weight: 600;
  font-size: 2em;
}

/* iPads (landscape) ----------- */
@media only screen and (max-width: 1224px) {
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 1024px) {
  .sidebar {
    height: 80px;
    width: 100%;
  }

  .button {
    width: 10rem;
  }

  .main {
    margin-top: 150px;
    margin-left: 0px;
  }

  .section {
    font-size: 1.7em;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
}
/* Big smartphones (portrait) (ie: Galaxy 3 has 360) */
@media only screen and (max-width: 640px) {
}
/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width: 321px) {
}
