body {
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
  color: #393e46;
}

.main {
  margin-top: 70px;
  margin-left: 140px;
  padding: 0px 10px;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 50px;
  margin-left: 3rem;
}

#main_title {
  text-decoration: underline;
  margin-bottom: 4rem;
}

.button_container {
  width: 85%;
  text-align: right;
  margin-top: 1em;
}

.button {
  font-size: 1.5rem;
  font-weight: 700;
  width: 13rem;
  height: 3rem;
  border-radius: 15px;
  outline: none;
  border: none;
  transition-duration: 0.4s;
  background-color: #f8b500;
}

#visualizar:hover {
  cursor: pointer;
  background-color: rgb(255, 225, 143);
}

.section-info {
  margin-left: 3em;
}

#lista > li {
  margin-bottom: 0.2rem;
  width: 85%;
}

.file_container {
  display: flex;
}

#input_file {
  font-size: 1.5rem;
}

.retangulo {
  border-radius: 7px;
  padding-right: 0.5rem;
  background-color: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex,
#lista > li {
  display: flex;
  justify-content: space-between;
}

#visualizar-curriculo {
  margin-bottom: 0.2rem;
  margin-top: 1.5rem;
  margin-left: 1.9rem;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

#download-teste {
  display: flex !important;
  justify-content: space-between;
}

#candidato-reprovado {
  margin-left: 5rem;
  color: #ff0808;
}

.fa-circle {
  color: #ff0808;
}

#line {
  border-top: 1px solid #393e46;
  margin-left: 6rem;
  margin-top: 2rem;
}

.section {
  margin-top: 1em;
  margin-bottom: 7rem;
  font-weight: 600;
  font-size: 2em;
}

#divEntrevista {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.info-entrevista {
  font-size: 1.3rem;
}

#link-entrevista {
  color: rgb(82, 82, 82);
  font-weight: 400;
}

#entrevista-detalhe {
  display: flex;
  justify-content: space-around;
  margin-top: 0.2rem;
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 1024px) {
  .button {
    width: 10rem;
  }

  .section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #line {
    margin-top: 3rem;
  }

  .section-info,
  #line,
  #main_title {
    margin-left: 0;
  }

  #main_title {
    margin-bottom: -1rem;
  }

  .main {
    margin-top: 170px;
    padding: 0;
    margin-left: 0.5rem;
  }

  .section {
    font-size: 1.7em;
  }

  .retangulo {
    height: fit-content;
  }

  #divEntrevista {
    width: 85%;
  }

  #pai-link-entrevista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #divEntrevista > #nome-section {
    width: 20rem;
  }
}

@media only screen and (max-width: 640px) {
  .main {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 95%;
  }

  #input_file {
    font-size: 1rem;
  }

  #envio-teste,
  #divEntrevista {
    flex-wrap: wrap;
  }

  #entrevista-detalhe {
    flex-direction: column;
    align-items: flex-start;
  }

  #pai-link-entrevista {
    margin-top: 1rem;
    align-items: flex-start;
  }

  .retangulo {
    margin-top: 1rem;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
}
