body {
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
  color: #393e46;
}

.title {
  font-weight: 400;
  font-size: 2.5rem;
  margin-right: auto;
  text-align: center;
  color: #f1f1f1;
}

.titleA {
  font-weight: 800;
  font-size: 2.5rem;
  margin-left: 33rem;
  margin-right: auto;
}

.titleB {
  font-weight: 800;
  font-size: 2.5rem;
  margin-left: 13rem;
  margin-right: auto;
  margin-top: 5rem;
}

a {
  color: inherit;
}

/* codigo sidebar padrão para todas as páginas */
.sidebar {
  height: 100%;
  width: 550px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8b500;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  text-decoration: none;
  font-size: 25px;
  color: #393e46;
  transition-duration: 0.3s;
  display: block;
  text-align: center;
}

#logo_sidebar {
  width: 35rem;
  height: 35rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* fim do codigo navbar padrao */

.main {
  margin-top: 70px;
  margin-left: 550px;
  padding: 0px 10px;
}

#PreencheDados {
  font-size: 2rem;
  font-weight: 400;
}

.input_area {
  margin-top: 5rem;
  margin-left: 13rem;
  margin-right: 13rem;
  text-align: left;
  color: #000000;
}

.retangulo {
  border-radius: 16px;
  background-color: #ced4df;
  margin-top: 3.5rem;
}

#nome,
#password,
#email {
  width: 80%;
  height: 40px;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 0.7rem;
  background-color: transparent;
  color: #000000;
  /*color: #f1f1f1; */
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000000 1px;
  padding: 3px 10px;
  font-size: 2rem;
  font-weight: 700;
}

.alternative_title {
  color: #f8b500;
}

#cadastro a {
  text-decoration: underline;
  margin-top: 15rem;
}

.icon {
  margin-left: 3rem;
}

::placeholder {
  color: #393e46;
}

.button_container {
  text-align: center;
}

.button {
  margin-top: 4rem;
  background-color: #f8b500;
  font-size: 1.5rem;
  font-weight: 700;
  width: 15rem;
  height: 3rem;
  border-radius: 15px;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffc938;
}

.item_radio {
  margin-left: 18rem;
  margin-right: 10rem;
  font-size: 1.5em;
  display: inline-block;
}

.user {
  margin-top: 2rem;
}

input[type='radio']:checked {
  accent-color: #bd8a00;
}
