body {
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
  color: #393e46;
}

.main {
  margin-top: 70px;
  margin-left: 140px;
  padding: 0px 10px;
}

#main_title {
  text-decoration: underline;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  margin-left: 3rem;
}

.button_container {
  text-align: center;
}

.button {
  background-color: #f8b500;
  font-size: 1.5rem;
  font-weight: 700;
  width: 20rem;
  height: 3rem;
  border-radius: 15px;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

.button:hover {
  cursor: pointer;
  background-color: #ffde82;
}

.titulos-coluna,
.vaga-info {
  margin-left: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#botoes {
  display: flex;
  justify-content: space-around;
}

#button-trash {
  background-color: rgb(255, 85, 85);
}

#button-trash:hover {
  background-color: rgb(255, 155, 155);
}

#line {
  border-top: 1px solid #393e46;
  margin-left: 3rem;
  margin-top: 2rem;
}

.vaga-info {
  margin-left: 1.5em;
}

.vaga {
  margin-top: 1em;
  font-weight: 600;
  font-size: 2em;
}

#nome-vaga,
#local-vaga,
#status-vaga,
#botoes {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.coluna {
  font-size: 2em;
  color: gray;
  font-weight: 400;
  margin-top: 1em;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .main {
    margin-top: 170px;
    margin-left: 0;
    padding: 0;
  }

  #nome-vaga,
  #local-vaga,
  #status-vaga,
  #botoes {
    width: 90%;
  }

  .coluna {
    max-width: 180px;
  }

  .titulos-coluna {
    justify-content: flex-start;
  }

  #nome-vaga,
  #local-vaga {
    max-width: 180px;
    font-size: 1.5rem;
  }

  .titulos-coluna {
    font-size: 0.8rem;
  }

  .title,
  .titulos-coluna,
  .vaga-info,
  #line {
    margin-left: 0;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 640px) {
  .main {
    margin-top: 130px;
    margin-left: 0;
    padding: 0;
  }

  #btn-text {
    display: none;
  }

  .button {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #nome-vaga,
  #local-vaga {
    font-size: 1.3rem;
  }

  #local-vaga {
    margin-left: 0.3rem;
  }

  .titulos-coluna {
    font-size: 0.7rem;
  }

  .coluna {
    max-width: 122px;
  }
}
