body {
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
  color: #393e46;
}

/* codigo sidebar padrão para todas as páginas */
.sidebar {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8b500;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  text-decoration: none;
  font-size: 25px;
  color: #393e46;
  transition-duration: 0.3s;
  display: block;
  text-align: center;
}

#logo_sidebar {
  width: 8rem;
  height: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* fim do codigo navbar padrao */

.main {
  margin-top: 70px;
  margin-left: 140px;
  padding: 0px 10px;
}

#main_title {
  text-decoration: underline;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  margin-left: 3rem;
}

.button_container {
  text-align: center;
}

.button {
  font-size: 1.5rem;
  font-weight: 700;
  width: 10rem;
  height: 3rem;
  border-radius: 15px;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

#check:hover {
  cursor: pointer;
  background-color: rgb(86, 255, 86);
}

#xmark:hover {
  cursor: pointer;
  background-color: rgb(255, 143, 143);
}

.titulos-coluna,
.candidato-info {
  margin-left: 3em;
  display: flex;
  justify-content: space-between;
}

#line {
  border-top: 1px solid #393e46;
  margin-left: 3rem;
  margin-top: 2rem;
}

.candidato-info {
  margin-left: 1.5em;
}

.candidato {
  margin-top: 1em;
  font-weight: 600;
  font-size: 2em;
}

.div-sem-candidatos {
  margin-left: 2.5em;
  margin-top: 1.5em;
  font-size: 30px;
}

#nome-candidato,
#candidato,
#curriculo,
#botoes {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.coluna {
  font-size: 2em;
  color: gray;
  font-weight: 400;
  margin-top: 1em;
  width: 100%;
}

#check {
  background-color: rgb(26, 201, 26);
}

#xmark {
  background-color: rgb(255, 45, 45);
}

#curriculo {
  cursor: pointer;
}

/* iPads (landscape) ----------- */
@media only screen and (max-width: 1224px) {
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 1024px) {
  .sidebar {
    height: 80px;
    width: 100%;
  }

  #button_text {
    display: none;
  }

  .button {
    width: 10rem;
  }

  .main {
    margin-top: 150px;
    margin-left: 0px;
  }

  .candidato {
    font-size: 1.7em;
  }

  .candidato-info,
  #line,
  .titulos-coluna,
  #main_title {
    margin-left: 0.5rem;
  }

  #nome-candidato,
  #candidato,
  #curriculo,
  #botoes {
    width: 180px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
}
/* Big smartphones (portrait) (ie: Galaxy 3 has 360) */
@media only screen and (max-width: 640px) {
}
/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width: 321px) {
}