body {
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
  color: #393e46;
}

.title {
  font-weight: 800;
  font-size: 2.5rem;
  margin-left: 3rem;
}

a {
  color: inherit;
}

.main {
  margin-top: 30px;
  margin-left: 140px;
  padding: 0px 10px;
}

.input_area {
  margin-top: 5rem;
  margin-left: 5rem;
}

#login,
#password {
  width: 80%;
  height: 30px;
  margin-left: 3rem;
  margin-bottom: 2rem;
  background-color: transparent;
  color: #000000;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000000 1px;
  padding: 3px 10px;
  font-size: 2rem;
  font-weight: 700;
}

.alternative_title {
  color: #f8b500;
}

#cadastro a {
  text-decoration: underline;
  margin-top: 10rem;
}

#welcome {
  text-decoration: underline;
}

.icon {
  margin-left: 1rem;
}

::placeholder {
  color: #393e46;
}

.button_container {
  text-align: center;
}

.button {
  margin-top: 1em;
  margin-bottom: 5rem;
  background-color: #f8b500;
  font-size: 1.5rem;
  font-weight: 700;
  width: 15rem;
  height: 3rem;
  border-radius: 15px;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffc938;
}

@media only screen and (max-width: 1024px) {
  .main {
    margin-top: 170px;
    margin-left: 0px;
    padding: 0px 0px;
  }

  .input_area {
    margin-left: 0;
  }
}

@media only screen and (max-width: 640px) {
  .main {
    margin-top: 140px;
  }

  #welcome {
    margin-top: 0;
  }

  .title {
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  #login,
  #password {
    width: 70%;
    height: 30px;
    margin-left: 1rem;
    font-size: 1.4rem;
  }
}
